@using DiveRepo
@model List<DiveRepo.DiveTracker>
@{
    ViewBag.Title = "Tilføj position";
        Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <form action="/Dive/AddPosition" class="form-group AddForm" method="POST" enctype="multipart/form-data">

                    <label>Sikker?:</label>
                        <select name="Sikker" class="form-control">
                            <option value="0">Nej</option>
                            <option value="1">Ja</option>

                        </select>
                <br>
                        <label>Spot type: </label>
                        <select name="IkonID"  class="form-control">
                            <option value="1">FyldeSted</option>
                            <option value="2">SlæbeSted</option>
                            <option value="3">Spot</option>
                        </select>



                <br />

                <label>Navn: </label><input name="Navn" type="text" class="form-control" />
                <br />

                <label>Latitude N:</label><input name="Latitude" type="text" class="form-control"/>


                <br /><label>Longtitude E: </label><input name="Longitude" type="text" class="form-control" />
                <br />
                <label>LongtitudeDec: </label><input name="LongitudeDec" type="text" class="form-control" />
                <br />

                <label>LatitudeDec: </label><input name="LatitudeDec" type="text" class="form-control" />
                <br />

                <label>Afstand til land: </label><input name="LandAfstand" type="text" class="form-control" />
                <br />

                <br />

                <label>Tilføj et billede:</label><input name="Billeder" type="file" />


                <br />
                <label>Beskrivelse: </label><textarea class="form-control Tekstfelt" name="Beskrivelse" type="text" placeholder="Skriv en note om Stedet her. "></textarea>
                <br />
                <input id="submit" type="submit" value="Gem" class="btn btn-default" />
                </form>
        </div>
        <div class="col-lg-10">

            <script language="javascript" type="text/javascript">

                function AddAlert(url, message) {

                    alert(message);
                    window.open(url, '_self');

                    return true;

                }

            </script>


            <div id="map" class="BoxShadow">
            </div>

            <script>
                var map;

                function initMap() {
                    var myCenter = new google.maps.LatLng(56.41578, 10.87825);
                    var mapCanvas = document.getElementById("map");
                    var mapOptions = {
                        center: myCenter,
                        zoom: 7,
                        zoomControl: true,
                        scrollwheel: false,
                         styles: [
        {
            "featureType": "all",
            "elementType": "all",
            "stylers": [
                {
                    "invert_lightness": true
                },
                {
                    "saturation": 10
                },
                {
                    "lightness": 30
                },
                {
                    "gamma": 0.5
                },
                {
                    "hue": "#435158"
                }
            ]
        },
        {
            "featureType": "landscape",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#14244a"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#1a8dc1"
                }
            ]
        }
                                ]
                    };
                    var map = new google.maps.Map(mapCanvas, mapOptions);
                    @foreach (DiveTracker dt in Model)
          {


                @:  var marker = new google.maps.Marker({
                                      @: position: new google.maps.LatLng(@dt.LatitudeDec, @dt.LongitudeDec)

               @:   });
                                  @:marker.setMap(map);
                                 @: var infowindow = new google.maps.InfoWindow({
                                     @: });

          }


                    google.maps.event.addListener(marker, 'click', function () {
                        var pos = map.getZoom();
                        map.setZoom(15);
                        map.setCenter(marker.getPosition());
                        window.setTimeout(function () { map.setZoom(pos); }, 3000);
                    });
                }


            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCAsbuyApEN7aLJBytasBQhANvXZbywgI&callback=initMap" async defer></script>
            
        </div>
    </div>
</div>

@ViewBag.MSG


