@using DiveRepo
@model List<DiveRepo.DiveTracker>
<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Siden med alt om uv-jagt, dykning og de bedste dykker spots i Norden" />
    <meta name="keywords" content="uvjagt, uv-jagt, spearfishing, jagt, spots, jagtspot, fangst, rapporter, logbog, beretning, uv, jagt, torsk, fisk, lystfiskeri, lystfisker ørreder, havøred, havøreder, dykning, spots, dykkertur, vrag, dykkerspots, vragspots" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UV-Jagt & Dykker-spots</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/SASS/MainSASS.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:300|Source+Sans+Pro:700" rel="stylesheet">



</head>
<body>









    <img class="hidden-md hidden-sm hidden-xs logo" src="~/Content/SASS/GFX/logoRecolorreSize.png" />



    @RenderBody()
    @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    @*<script src="~/scripts/JavaScript.js"></script>*@
</body>

</html>