/*Colors*/
/*Fonts*/
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body {
  background: url(GFX/bgImg.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Open Sans", sans-serif, Verdana;
  color: #e7e7e7; }

/*LOGO*/
.logo {
  position: absolute;
  top: 0;
  left: 53%;
  z-index: 999; }

.map-container {
  position: relative; }

.map {
  width: 500px;
  height: 400px;
  background-color: #ccc; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

/*Nav*/
/*END NAV*/
/*Links*/
a {
  color: #e7e7e7; }
  a a:active {
    color: white; }

a:hover {
  color: white;
  text-decoration: none; }

/*END LINKS*/
/*Select*/
select {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  outline: none;
  background-color: transparent;
  width: 190px; }
  select option {
    background-color: #16264c; }

/*END SELECT*/
/*Input*/
input {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  outline: none;
  background-color: transparent;
  width: 190px; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #e7e7e7; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e7e7e7;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e7e7e7;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e7e7e7; }

.search .fa-search {
  position: absolute;
  top: 233px;
  left: 225px; }

/*Icon list*/
.spotPick {
  list-style: none;
  margin-left: 20px;
  padding: 0;
  font-size: 12px;
  padding-top: 10px; }

li.snorkling {
  background-image: url("GFX/Ikoner/fisk - graa.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 40px;
  margin: .4em 0; }

li.vrag {
  background-image: url("GFX/Ikoner/skibikon.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 20px;
  margin: .4em 0; }

li.natur {
  background-image: url("GFX/Ikoner/naturikongraa.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 20px;
  margin: .4em 0; }

li.andet {
  background-image: url("GFX/Ikoner/andeticongraa.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 20px;
  margin: .4em 0; }

/*Icon list END*/
hr {
  width: 780px;
  margin-top: 0;
  margin-bottom: 0; }

.BoxShadow {
  -webkit-box-shadow: 1px 1px 20px 10px #000000;
  box-shadow: 1px 1px 20px 10px #000000; }

html, body {
  margin: 0; }

.map-wrapper {
  background: url(GFX/bgImg.jpg) no-repeat 0 0;
  background-size: cover; }

#map {
  width: 100%;
  height: 100vh;
  float: right; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #16264c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #e7e7e7;
  display: block;
  transition: 0.3s; }

.sidenav ul {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #e7e7e7;
  display: block;
  transition: 0.3s; }

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

/*_____________NAV________________*/
.deskNav {
  height: 100vh;
  font-size: 20px; }

nav li {
  list-style-type: none;
  margin-top: 30px; }

nav h1 {
  font-size: 1.3em;
  margin-bottom: 70px;
  margin-left: 30px;
  font-weight: 500;
  margin-top: 70px; }

.navbar-nav {
  width: 100%;
  text-align: center; }
  .navbar-nav li {
    float: none;
    display: inline-block; }

.spotType {
  margin-top: 50px;
  margin-bottom: 20px; }

.deskNav ul.spotPick {
  list-style: none;
  margin-left: -5px;
  padding: 0;
  font-size: 20px; }

.deskNav li.snorkling {
  background-image: url("GFX/Ikoner/fisk - graa.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 40px;
  margin: .4em 0; }

.deskNav li.vrag {
  background-image: url("GFX/Ikoner/skibikon.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 40px;
  margin: .4em 0; }

.deskNav li.natur {
  background-image: url("GFX/Ikoner/naturikongraa.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 40px;
  margin: .4em 0; }

.deskNav li.andet {
  background-image: url("GFX/Ikoner/andeticongraa.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 40px;
  margin: .4em 0; }

.transbox {
  margin: 30px;
  background-color: black;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.2);
  height: 75vh; }

.transbox p {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px; }

/*FORM*/
.AddForm {
  margin-top: 30px; }

